body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; 
}

a {
  color: #000;
  &:visited {
    color: #666;

}
  &:hover {
    /*color: #339933;*/
		color: #CE331B;	
    } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

p
{
	padding:5px;
}

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }



#error_explanation 
{
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

	input[type=checkbox],input[type=radio] {
	-webkit-appearance:none;
	background:#fff;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border:3px solid #d5d5d5;
	display:inline-block;
	width:18px;
	height:18px;
	-webkit-border-radius: 3px;
	vertical-align:text-top;
	padding: 0;
	}

	
	input[type=checkbox]:checked:after {
	content:"\00a0";
	display:block;
	width:3px;
	height:6px;
	border:solid #a5a5a5;
	position:relative;
	left:4px;
	top:1px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	border-width:0 2px 2px 0;
	}

	input[type=radio] {
	-webkit-border-radius:50%;
	}

	input[type="radio"]:checked:after {
	content:"\00a0";
	display:block;
	position:relative;
	left:1px;
	top:1px;
	height:10px;
	width:10px;
	background:#a5a5a5;
	-webkit-border-radius:50%;
	}
	
	label.custom-select {
	    position: relative;
	    display: inline-block;
	}

	    .custom-select select {
	        display: inline-block;
	        border: 1px solid #ddd;
	        padding: 4px 3px 3px 5px;
	        margin: 0;
	        font-size: 12px; 
	        outline:none; /* remove focus ring from Webkit */
	        /*line-height: 1.2;*/
	        background: #fff;
			color: #555; 
	        -webkit-appearance:none; /* remove the strong OSX influence from Webkit */

	        -webkit-border-radius: 6px;
	        -moz-border-radius: 6px;
	        border-radius: 6px;
	
			-webkit-box-shadow: 0px 0px 4px #aaa;
			-moz-box-shadow: 0px 0px 4px #aaa; 
			box-shadow: 0px 0px 4px #aaa;
			
			-webkit-transition: background 0.3s linear;		
	    }

	    /* for Webkit's CSS-only solution */
	    @media screen and (-webkit-min-device-pixel-ratio:0) { 
	        .custom-select select {
	            padding-right:30px;    
	        }
	    }

	    /* Since we removed the default focus styles, we have to add our own */
	    .custom-select select:focus {
	        -webkit-box-shadow: 0 0 3px 1px #666;
	        -moz-box-shadow: 0 0 3px 1px #666;
	        box-shadow: 0 0 3px 1px #666;
			background: #eee;
	    }

	    /* Select arrow styling */
	    .custom-select:after {
	        content: "▼";
	        position: absolute;
	        top: 0;
	        right: 0;
	        bottom: 0;
	        font-size: 60%;
	        line-height: 30px;
	        padding: 0 7px;
	        background: #ddd;
	        color: white;

	        pointer-events:none;

	        -webkit-border-radius: 0 6px 6px 0;
	        -moz-border-radius: 0 6px 6px 0;
	        border-radius: 0 6px 6px 0;
	    }

	    .no-pointer-events .custom-select:after {
	        content: none;
	    }
	
		input.small
		{

			padding: 4px; 
			margin: 2px 0 2px 0; 
			background: #fff; 
			width: 50px;
			font-size: 12px; 
			color: #555; 
			border: 1px #ddd solid;

			/* -- CSS3 Shadow - create a shadow around each input element -- */ 
			-webkit-box-shadow: 0px 0px 4px #aaa;
			-moz-box-shadow: 0px 0px 4px #aaa; 
			box-shadow: 0px 0px 4px #aaa;

			/* -- CSS3 Transition - define what the transition will be applied to (i.e. the background) -- */		
			-webkit-transition: background 0.3s linear;
		}

		input.small:hover { 
			background: #eee; 
		}